.home-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-main-container {
  display: flex;
  justify-content: center;
}
.home-content {
  width: 30%;
}
.home-content img {
  width: 100%;
}
