.workspace-background-0 {
  background: linear-gradient(to top, white, #9c9999);
}
.workspace-background-1 {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
.workspace-background-2 {
  background: linear-gradient(to right, #F6EFD2, #CEAD78);
}
.workspace-background-3 {
  background: linear-gradient(to top left, powderblue, pink);
}
.workspace-background-4 {
  background: linear-gradient(45deg, #deeeba, #e6e8c5);
}
.workspace-background-5 {
  background: linear-gradient(to top left, #e6b8b0, #c0dbff);
}
.workspace-item-container {
  width: 80%;
  margin: 15px;
  padding: 0 15px 15px 15px;
}
.workspace-item-container .menu-button {
  cursor: pointer;
}
.workspace-item-lable {
  display: inline-block;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.workspace-item-menu {
  font-size: 15px;
  color: #706f6f;
}
.workspace-item-menu span {
  cursor: pointer;
}
