.sidebar-item {
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}
.left-sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 10%;
}
.left-sidebar-container .active {
  background-color: #449b6b;
  color: #fff;
}
.left-sidebar-container a {
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}
